:root {
    --bg: var(--ctp-latte-base);
    --fg: var(--ctp-latte-text);
    --ifg: var(--ctp-mocha-base);
    --chkbox: var(--ctp-latte-sapphire);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--ctp-mocha-base);
        --fg: var(--ctp-mocha-text);
        --chkbox: var(--ctp-latte-sapphire);
    }
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg);
    color: var(--fg);
    overflow: hidden;
    font-family: 'Nova Flat'
}

#main {
    flex: 1;
}

#main .toastui-calendar-layout {
    background: var(--bg) !important;
}

.toastui-calendar-day-name__date,
.toastui-calendar-day-name__name,
.toastui-calendar-timegrid-time {
    color: var(--fg) !important;
}

.utilities {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1;
}

dialog {
    background-color: var(--bg);
    color: var(--fg);
    width: 50%;
}

*[data-calendar-id],
*[data-calendar-id] {
    color: white !important;
}

*[data-calendar-id="allee"],
*[data-calendar-id="corvin"] {
    color: var(--ifg) !important;
}

#prev, #next, #setting {
    cursor: pointer;
}


/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--ifg);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--chkbox);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

dialog button {
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--chkbox);
    color: var(--ifg);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    margin-bottom: 10px;
}

@media screen and (-ms-high-contrast: active) {
    dialog button {
        border: 2px solid currentcolor;
    }
}
